Repository ardikabs/atlantica-project: changes, and which Atlantis projects are due for each by the changed paths.
All: Kubernetes The Hard Way Compute Engine, Kubernetes The Hard Way Network

Kubernetes The Hard Way Compute Engine:
  dir: k8s-the-hard-way
  workspace: default
  apply_requirements:
  - approved
  workflow: custom

Kubernetes The Hard Way Network:
  dir: k8s-the-hard-way-network
  workspace: default
  apply_requirements:
  - approved
  workflow: custom

Atlantis test with manual command
  gcp.tfvars
Due: none

Fix URL safe characters
  atlantis.yaml
Due: none

Noted: Atlantis entrypoint in based on atlantis.yaml k8s-the-hard-way LICENSE gcp.tfvars k8s-the-hard-way-network README.md field in the atlantis.yaml
  atlantis.yaml
Due: none

Added atlantis terraform variable
  k8s-the-hard-way-network/vars_atlantis.tf
  k8s-the-hard-way/vars_atlantis.tf
Due: Kubernetes The Hard Way Compute Engine, Kubernetes The Hard Way Network

Add mergeable to apply requirements
  atlantis.yaml
Due: none

Remove approved requirements
  atlantis.yaml
Due: none

Fix backend problem cause terraform state replaced
  k8s-the-hard-way-network/backend.tf
Due: Kubernetes The Hard Way Network

Path conditions:
  Kubernetes The Hard Way Compute Engine: any of: k8s-the-hard-way/*.tf
  Kubernetes The Hard Way Network: any of: k8s-the-hard-way-network/*.tf
